@import "../_globalColor";

.project {

}

.project.screen {
  min-height: 100vh;
  width: 100%;
}

.project.main-div {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.project.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.project.column {
  flex: 1;
  padding: 15px;
}

.project.image {
  max-width: 100%;
  height: auto;
  width: 360px;
  padding: 20px;
}

.project.title {
  color: $titleColor;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 24px 0 0 0;
}

.project.subtitle {
  color: $titleColor;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin: 12px 0 0 0;
}

.project.column-title {
  color: $titleColor;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

.project.detail-text {
  color: $titleColor;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
}

.project.showcase-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

@media (max-width: 768px) {
  .project.container {
    flex-direction: column;
  }
}